.ArticleList {
  display: grid;
  grid-template-columns: 1fr 2fr;

  &Cta {
    letter-spacing: -0.01em;

    &Heading {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
    }
    &Copy {
      color: rgba(255, 255, 255, 0.75);
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }
  }

  &Entries {
    li {
      list-style-type: none;
    }
  }

  &Item {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    list-style-type: none;
    background-color: white;
    padding: 24px;
    margin-bottom: 1rem;

    &Title {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.01em;
      color: black;
    }

    &Cta {
      p {
        color: black;
      }
    }
  }
}
