@import './_variables';

.footer {
  display: grid;

  @media screen and (min-width: map-get($breakpoints, md)) {
    grid-template-columns: repeat(3, 1fr);
    padding: map-get($spacing, lg) 9.75rem;
  }

  @media screen and (max-width: map-get($breakpoints, md) - 1) {
    grid-template-columns: repeat(2, 1fr);
    padding: map-get($spacing, lg) map-get($spacing, md) 3.5rem map-get($spacing, md);
  }

  &__contact {
    display: flex;
    padding: map-get($spacing, md) 0;
    align-items: center;
    justify-content: left;

    a {
      display: flex;
      align-items: center;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }

      &::before {
        content: '';
        display: block;
        background: url('../../public/assets/icons/envelope.svg') no-repeat center;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: map-get($spacing, xs);
      }
    }

    @media screen and (max-width: map-get($breakpoints, md) - 1) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-content: flex-end;
    }
  }

  &__logo {
    padding: map-get($spacing, md) 0;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: map-get($breakpoints, md) - 1) {
      margin-right: auto;
    }
  }

  &__social {
    &List {
      display: flex;
      list-style: none;
      margin: 0;
      padding: map-get($spacing, md) 0;
      justify-content: flex-end;

      @media screen and (max-width: map-get($breakpoints, md) - 1) {
        padding: 0;
        justify-content: flex-start;
      }
    }

    &Item {
      &:not(:first-child) {
        padding-left: map-get($spacing, md);
      }

      a {
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
