@import './_variables';

.title {
  font-size: map-get($font-sizes, xxl);
  font-weight: map-get($font-weights, semibold);
  line-height: 4.4rem;
  letter-spacing: -0.01em;
  text-align: left;

  a {
    color: #0070f3;
    text-decoration: none;
    transition: text-decoration 0.2s ease;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.name {
  background: linear-gradient(86.58deg, $primary-color 32.64%, #35b8fe 60.62%),
    linear-gradient(0deg, $white, $white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.Hero {
  &Grid {
    display: grid;
    gap: map-get($spacing, lg);

    @media screen and (min-width: map-get($breakpoints, md)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: map-get($breakpoints, md) - 1) {
      grid-template-rows: auto;
    }
  }

  &__cta {
    padding: map-get($spacing, xxl) 0;

    @media screen and (max-width: map-get($breakpoints, md) - 1) {
      padding: map-get($spacing, md) 0 map-get($spacing, lg);
      order: 1;
    }
  }

  &__visual {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fadeInText {
  animation: fadeInAnimation 3s ease forwards;
}

.hiddenText {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}