.title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: -0.01em;
  text-align: left;

  a {
    color: #0070f3;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.name {
  background: linear-gradient(86.58deg, #6f39ff 32.64%, #35b8fe 60.62%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Hero {
  &Grid {
    display: grid;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
      grid-template-rows: auto;
    }
  }

  &__cta {
    padding: 5rem 0;
    @media screen and (max-width: 767px) {
      padding: 1rem 0 2rem 0;
      order: 1;
    }
  }

  &__visual {
    display: flex;
  }
}
