.nav {
  display: flex;
  height: 5rem;
  padding: 1.5rem 9.75rem;

  @media screen and (max-width: 767px) {
    padding: 1.5rem;
  }

  &__menu {
    display: flex;
    margin-left: auto;
  }

  &__list {
    list-style-type: none;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    width: 5.625rem;
    height: 1.375rem;
    align-items: center;
    white-space: nowrap;

    &:last-child::before {
      content: '';
      display: block;
      background: url('./../../public/assets/icons/envelope.svg') no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      float: left;
      margin-right: 0.375rem;
    }
  }
}
