  .header {
    @apply flex;
    justify-content: space-between;
    margin: 1rem auto;
    max-width: 65rem;
    padding: 0 1rem;
  }
  
  .footer {
    bottom: 0;
    padding: 1rem 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }