  .header {
    @apply flex;
    justify-content: space-between;
    margin: 1rem auto;
    max-width: 65rem;
    align-items: center;
    padding: 0 1rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #F64C72;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer {
    border-top-style: solid;
    border-top-width: 1px;
    max-width: 65rem;
    margin-top: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    border-color: #F64C72;
  }

  /* colors */
  /* #242582 */
  /* #553D67 */
  /* #F64C72 */
  /* #99738E */
  /* #2F2FA2 */