.footer {
  display: grid;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 9.75rem;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1.5rem 3.5rem 1.5rem;
  }

  &__contact {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: left;

    a::before {
      content: '';
      display: block;
      background: url('./../public/assets/icons/envelope.svg') no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      float: left;
      margin-right: 0.375rem;
    }
    @media screen and (max-width: 767px) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-content: end;
    }
  }
  &__logo {
    padding: 1rem 0;

    @media screen and (max-width: 767px) {
      margin-right: auto;
    }
  }
  &__social {
    &List {
      float: right;
      list-style-type: none;
      display: flex;
      @media screen and (max-width: 767px) {
        padding: 0;
        float: unset;
      }
    }
    &Item {
      &:not(:first-child) {
        padding-left: 1rem;
      }
    }
  }
}
