.nav {
  display: flex;
  height: 80px;
  padding: 1.5rem 9.75rem;

  @media screen and (max-width: 767px) {
    padding: 1.5rem;
  }

  &__menu {
    display: flex;
    margin-left: auto;
  }

  &__list {
    list-style-type: none;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &Item {
      display: flex;
      width: 90px;
      height: 22px;
      align-items: center;
      white-space: nowrap;

      &:last-child::before {
        content: '';
        display: block;
        background: url('./../public/assets/envelope.svg') no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        float: left;
        margin: 0 6px 0 0;
      }
    }
  }
}
